package components

templ Hello(title string, name string) {
<html>

<head>
    <title>{ title }</title>
</head>

<body>
    <header>
        <h1>My Website</h1>
    </header>
    <main>
        <div>Hello, { name }</div>
    </main>
    <footer>
        <p>&copy; 2025 My Website</p>
    </footer>
</body>

</html>
}
